{% extends "surveys/base.html" %}
{% load django_bootstrap5 %}
{% load user_permissions %}

{% block content %}
    <h1>{{ question.text }}</h1>

    <div class="row mt-3">

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="{% url 'question-vote' question.id %}">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            {% if user|has_group:"Votar" %}
                                <button type="submit" class="btn btn-outline-primary">Votar</button>
                            {% else %}
                                <p>Sem permissão para votar.</p>
                            {% endif %}
                        </div>
                    
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3>Resultados</h3>

                    <p>Total: {{ question.total_votes }} respostas</p>
                    
                    {% comment %}
                    <ul>
                        {% for option in question.option_set.all %}
                            <li>{{ option.text }}: {{ option.vote_set.count }} votos</li>
                        {% endfor %}
                    </ul>
                    {% endcomment %}

                    {% if question.total_votes %}
                        <div class="d-flex justify-content-center">
                            <canvas id="myChart" class="w-50 h-50"></canvas>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
</div>

<!-- chartjs.org -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');

    const data = {
        labels: {{ chart_labels|safe }},
        datasets: [{
            label: 'Votos',
            data: {{ chart_numbers }},
            backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)'
            ],
            }]
    };

    new Chart(ctx, {
      type: 'pie',
      data: data,
    });
  </script>

{% endblock %}